In [35]:
import pandas as pd
import talib as ta
import plotly.express as px
import os

In [17]:
# Load the datasets
apple = '../data/yfinance/AAPL_historical_data.csv'
amazon = '../data/yfinance/AMZN_historical_data.csv'
google = '../data/yfinance/GOOG_historical_data.csv'
meta = '../data/yfinance/META_historical_data.csv'
microsoft = '../data/yfinance/MSFT_historical_data.csv'
nvda = '../data/yfinance/NVDA_historical_data.csv'
tsla = '../data/yfinance/TSLA_historical_data.csv'

In [19]:
class check_data_before_analysis:
    def __init__(self):
        pass
    def load_stock_data(self,filepath):
        self.data = pd.read_csv(filepath)
        return self.data.head()

In [28]:
see_data = check_data_before_analysis()
see_data.load_stock_data(apple)

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0

In [29]:
see_data.load_stock_data(amazon)

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1997-05-15,0.121875,0.125000,0.096354,0.097917,0.097917,1443120000,0.0,0.0
1,1997-05-16,0.098438,0.098958,0.085417,0.086458,0.086458,294000000,0.0,0.0
2,1997-05-19,0.088021,0.088542,0.081250,0.085417,0.085417,122136000,0.0,0.0
3,1997-05-20,0.086458,0.087500,0.081771,0.081771,0.081771,109344000,0.0,0.0
4,1997-05-21,0.081771,0.082292,0.068750,0.071354,0.071354,377064000,0.0,0.0

In [30]:
see_data.load_stock_data(google)

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,2004-08-19,2.490664,2.591785,2.390042,2.499133,2.496292,897427216,0.0,0.0
1,2004-08-20,2.515820,2.716817,2.503118,2.697639,2.694573,458857488,0.0,0.0
2,2004-08-23,2.758411,2.826406,2.716070,2.724787,2.721690,366857939,0.0,0.0
3,2004-08-24,2.770615,2.779581,2.579581,2.611960,2.608991,306396159,0.0,0.0
4,2004-08-25,2.614201,2.689918,2.587302,2.640104,2.637103,184645512,0.0,0.0

In [31]:
see_data.load_stock_data(meta)

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,2012-12-12,28.000000,28.139999,27.370001,27.580000,27.523441,46704200,0.0,0.0
1,2012-12-13,27.590000,28.750000,27.430000,28.240000,28.182087,81051600,0.0,0.0
2,2012-12-14,28.180000,28.330000,26.760000,26.809999,26.755020,91631600,0.0,0.0
3,2012-12-17,26.770000,27.000000,26.320000,26.750000,26.695143,57742500,0.0,0.0
4,2012-12-18,26.959999,27.910000,26.900000,27.709999,27.653173,60512900,0.0,0.0

In [24]:
see_data.load_stock_data(microsoft)

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1986-03-13,0.088542,0.101563,0.088542,0.097222,0.059946,1031788800,0.0,0.0
1,1986-03-14,0.097222,0.102431,0.097222,0.100694,0.062087,308160000,0.0,0.0
2,1986-03-17,0.100694,0.103299,0.100694,0.102431,0.063158,133171200,0.0,0.0
3,1986-03-18,0.102431,0.103299,0.098958,0.099826,0.061552,67766400,0.0,0.0
4,1986-03-19,0.099826,0.100694,0.097222,0.098090,0.060482,47894400,0.0,0.0

In [25]:
see_data.load_stock_data(nvda)

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1999-01-22,0.043750,0.048828,0.038802,0.041016,0.037621,2714688000,0.0,0.0
1,1999-01-25,0.044271,0.045833,0.041016,0.045313,0.041562,510480000,0.0,0.0
2,1999-01-26,0.045833,0.046745,0.041146,0.041797,0.038337,343200000,0.0,0.0
3,1999-01-27,0.041927,0.042969,0.039583,0.041667,0.038218,244368000,0.0,0.0
4,1999-01-28,0.041667,0.041927,0.041276,0.041536,0.038098,227520000,0.0,0.0

In [26]:
see_data.load_stock_data(tsla)

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500,0.0,0.0
1,2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500,0.0,0.0
2,2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000,0.0,0.0
3,2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000,0.0,0.0
4,2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500,0.0,0.0

In [42]:
class FinancialAnalyzer:
    def __init__(self):
        pass

    def load_data(self, filepath):
        """Load stock data from a CSV file into a pandas DataFrame."""
        data = pd.read_csv(filepath, index_col='Date', parse_dates=True)
        return data

    def calculate_moving_average(self, data, window_size=20):
        """Calculate Simple Moving Average (SMA) using TA-Lib."""
        data['SMA'] = ta.SMA(data['Close'], timeperiod=window_size)
        return data

    def calculate_rsi(self, data, time_period=14):
        """Calculate Relative Strength Index (RSI) using TA-Lib."""
        data['RSI'] = ta.RSI(data['Close'], timeperiod=time_period)
        return data

    def calculate_ema(self, data, window_size=20):
        """Calculate Exponential Moving Average (EMA) using TA-Lib."""
        data['EMA'] = ta.EMA(data['Close'], timeperiod=window_size)
        return data

    def calculate_macd(self, data):
        """Calculate Moving Average Convergence Divergence (MACD) using TA-Lib."""
        data['MACD'], data['MACD_Signal'], _ = ta.MACD(data['Close'])
        return data

    def plot_data(self, data, y_columns, title):
        """Create a plot using Plotly."""
        fig = px.line(data, x=data.index, y=y_columns, title=title)
        fig.show()

    def analyze_stock(self, filename):
        """Perform the entire analysis on a single stock."""
        data = self.load_data(filename)
        
        # Calculate technical indicators
        data = self.calculate_moving_average(data)
        data = self.calculate_rsi(data)
        data = self.calculate_ema(data)
        data = self.calculate_macd(data)
        
        # Plot the results
        self.plot_data(data, ['Close', 'SMA'], 'Stock Price with Simple Moving Average (SMA)')
        self.plot_data(data, ['RSI'], 'Relative Strength Index (RSI)')
        self.plot_data(data, ['Close', 'EMA'], 'Stock Price with Exponential Moving Average (EMA)')
        self.plot_data(data, ['MACD', 'MACD_Signal'], 'Moving Average Convergence Divergence (MACD)')

In [46]:
apple_analysis = FinancialAnalyzer()
apple_data =  apple_analysis.load_data(apple)
apple_data.head()

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0

In [47]:
moving_average_for_apple = apple_analysis.calculate_moving_average(apple_data)
moving_average_for_apple

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,SMA
Date,,,,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0,NaN
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0,NaN
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0,NaN
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0,NaN
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...
2024-07-24,224.000000,224.800003,217.130005,218.539993,218.287323,61777600,0.0,0.0,224.228500
2024-07-25,218.929993,220.850006,214.619995,217.490005,217.238556,51391200,0.0,0.0,224.440500
2024-07-26,218.699997,219.490005,216.009995,217.960007,217.708008,41601300,0.0,0.0,224.633500
2024-07-29,216.960007,219.300003,215.750000,218.240005,217.987686,36311800,0.0,0.0,225.014500
2024-07-30,219.190002,220.330002,216.119995,218.800003,218.547043,41643800,0.0,0.0,225.117001